.custom-container {
    width: 100%;
    max-width: 1140px; 
    margin: 0 auto;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.custom-col {
    flex: 1;
    padding: 0.5rem;
}

.custom-col-right {
    text-align: right;
}

.custom-text {
    color: white;
    font-size: 13px;
    margin-bottom: 0;
}

.custom-text-right {
    font-size: 13px;
    color: white;
    margin-bottom: 0;
}

.custom-link {
    color: white;
    text-decoration: none;
}

.header-top-strip {
    border-bottom: 1px solid #3b4149;
    background-color: #131921;
}

.header-upper {
    background-color: #131921;
}

.header-bottom {
    background-color: #232f3e;
}

.header-upper .input-group-text {
    background-color: #febd69;
    cursor: pointer;
}

.header-upper .header-upper-links img {
    width: 28px;
    height: 28px;
}

.header-upper .header-upper-links:hover {
    color: #febd69;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
    color: white;
    text-transform: uppercase;
    font-size: 13.5px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
}

.header-bottom .dropdown button:focus {
    box-shadow: none;
}

.header-bottom .dropdown-menu {
    background-color: #131921;
    width: 100%;
    transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
    padding: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid #3b4149;
}

.header-bottom .dropdown-item:hover {
    background-color: #3b4149;
    color: #febd69 !important;
}

.header-bottom .menu-item:hover {
    color: #febd69 !important;
    border-bottom: 1px solid #febd69;
}

.header-bottom .menu-item.active {
    color: #febd69 !important;
    border-bottom: 1px solid #febd69;
}

.header-upper-links .menu-item:hover {
    color: #febd69 !important;
}

.header-upper-links .menu-item.active {
    color: #febd69 !important;
}
