* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-heading {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 30px;
}

.card-wrapper {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
}

body {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-12 {
    gap: 12.7px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}

